Skip to content
 This repository
Explore
Gist
Blog
Help
@andrewsunglaekim andrewsunglaekim

 Unwatch 46
  Star 0
 Fork 0ga-students/wdidc4-instructors PRIVATE
 tree: 4580cacbd0  wdidc4-instructors/w07/d03/morning_callbacks/03-timers/starter/style.css
@jshawljshawl on Jan 14 add exs
1 contributor
RawBlameHistory    31 lines (25 sloc)  0.477 kb
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

.controls {
  margin: 50px;
  text-align: center;
}

h1 {
  font-family: Josefin Slab;
  font-size: 72px;
  text-align: center;
}

button {
  background: #4479BA;
  color: #FFF;
  font-family: Josefin Slab;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover{
    background: #356094;
}

Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
